filebeat.inputs:
  - type: filestream
    enabled: true
    paths:
      - /var/log/nginx/access.log
    fields:
      log_type: nginx_access
    fields_under_root: true

setup.template.enabled: true
setup.template.name: "filebeat-nginx"
setup.template.pattern: "filebeat-nginx-*"

processors:
  - dissect:
      tokenizer: '%{client} - - [%{timestamp}] "%{method} %{url} %{http_version}" %{status} %{bytes} "%{referrer}" "%{agent}"'
      field: message
      target_prefix: ""
  - timestamp:
      field: timestamp
      layout: '02/Jan/2006:15:04:05 -0700'
      timezone: local

# Вывод в Elasticsearch
output.elasticsearch:
  hosts: ["http://elasticsearch:9200"]
  index: "filebeat-nginx-%{+yyyy.MM.dd}"